/* +++++++++++++++++++++++++ font +++++++++++++++++++++++++ */
@font-face {
	font-family: my-font;
	src: url('../font/RousseauDeco.ttf');
}

* {
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	overflow-x: hidden;
	background-color: #f7f9fb;
}

/* +++++++++++++++++++++++++ header +++++++++++++++++++++++++ */
.header {
	width: 100%;
	height: 220px;
	background-color: #fff;
	text-align: center;
}

.header a {
	text-decoration: none;
}

.logo-icon {
	position: relative;
	margin-top: 15px;
	width: 100px;
	height: 100px;
}

.logo-text {
	position: relative;
	line-height: 100px;
	font-family: 'Candal', sans-serif;
	color: #df5a49;
	margin-top: -45px;
}

.logo-text span {
	color: #000032;
}

.menu a {
	text-transform: uppercase;
	text-decoration: none;
	transition: 0.4s;
	color: #000032;
	font-family: 'Comfortaa', cursive;
	font-size: 15px;
	font-weight: 900;
	letter-spacing: 3px;
	padding-right: 30px;
}

.show-menu-btn, .hide-menu-btn {
	transition: 0.4s;
	font-size: 30px;
	cursor: pointer;
	display: none;
}

.show-menu-btn {
	position: absolute;
	right: 20px;
}

.show-menu-btn i {
	color: #000032;
}

.menu a:hover, 
.show-menu-btn:hover, 
.hide-menu-btn:hover {
	color: #ccc;
}

#chk {
	position: absolute;
	visibility: hidden;
	z-index: -1111;
}

/* +++++++++++++++++++++++++ box +++++++++++++++++++++++++ */
.animation-area {
	width: 100%;
	height: 800px;
}

.box-area {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.box-area li {
	position: relative;
	display: block;
	list-style: none;
	width: 50px;
	height: 20px;
	border-radius: 1em;
	background: linear-gradient(to left, #000032, #df5a49);
	animation: animate 20s linear infinite;
	bottom: -150px;
	z-index: 10;
}

.box-area li:nth-child(1){
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
 }

.box-area li:nth-child(2){
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}

.box-area li:nth-child(3){
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}

.box-area li:nth-child(4){
	left: 70%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}

.box-area li:nth-child(5){
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
}

.box-area li:nth-child(6){
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}

/* +++++++++++++++++++++++++ content +++++++++++++++++++++++++ */
.animation-area .content span {
	text-transform: uppercase;
	text-align: center;
	display: block;
	position: relative;
	top: -300px;
}

.text1 {
	background-color: #f7f9fb;
	color: rgb(53, 68, 89);
	font-size: 100px;
	font-weight: 800;
	letter-spacing: 8px;
	position: relative;
	margin-bottom: 20px;
	animation: text 2s 1;
	z-index: 5;
	font-family: my-font;
}

.text2 {
	color: rgb(53, 68, 89);
	font-size: 30px;
	font-family: my-font;
}

/* +++++++++++++++++++++++++ contact +++++++++++++++++++++++++ */
.contact {
	border-radius: 15px 15px 0px 0px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contact .tmp {
	width: 280px;
	height: 60px;
	border: 1px solid transparent;
	border-radius: 40px;
	background-color: #546275;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	transition: .3s linear;
}

.contact .tmp:hover {
	transform: scale(1.1);
}

.animation-area .contact .tmp span {
	position: absolute;
	text-transform: uppercase;
	width: 100%;
	height: 100%;
	background-color: rgb(53, 68, 89);
	text-align: center;
	line-height: 60px;
	z-index: 999;
	transition: 0.6s linear;
	border-radius: 40px;
	font-family: 'Comfortaa', cursive;
	font-size: 20px;
	letter-spacing: 1px;
	color: #ccc;
}

.animation-area .contact .tmp:hover span {
	transform: translateX(-100%);
	transition-delay: .3s;
}

.animation-area .contact .tmp a {
	flex: 1;
	font-size: 26px;
	color: #ccc;
	text-align: center;
	transform: translateX(-100%);
	opacity: 0;
	transition: 0.4s linear;
}

.animation-area .contact .tmp:hover a {
	opacity: 1;
	transform: translateX(0);
}

.animation-area .contact .tmp a:nth-of-type(1) {
	transition-delay: 1s
}

.animation-area .contact .tmp a:nth-of-type(2) {
	transition-delay: 0.8s
}

.animation-area .contact.tmp a:nth-of-type(3) {
	transition-delay: 0.6s
}

.animation-area .contact .tmp a:nth-of-type(4) {
	transition-delay: 0.4s
}


/* +++++++++++++++++++++++++ animation +++++++++++++++++++++++++ */
@keyframes text {
	0% {
		margin-bottom: -40px;
	}

	30% {
		letter-spacing: 25px;
		margin-bottom: -40px;
	}
	
	85% {
		letter-spacing: 8px;
		margin-bottom: -40px;
	}
}

@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}

	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}