* {
	margin: 0px;
	padding: 0px;
	font-family: 'Comic Sans MS', sans-serif;
}

body {
	height: 100%;
	min-height: 800px;
	overflow-x: hidden;
	background-color: rgb(250, 250, 251);
}

/* +++++++++++++++++++++++++ header +++++++++++++++++++++++++ */
.header {
	height: 100px;
	padding: 0 20px;
	background-color: #2580B3;
    background: -moz-linear-gradient(-45deg, #2580B3 0%, #B9B6E5 100%);
    background: -webkit-linear-gradient(-45deg, #2580B3 0%, #B9B6E5 100%);
    background: linear-gradient(135deg, #2580B3 0%, #B9B6E5 100%);
    border-radius: 0px 0px 15px 15px;
}

.logo-icon {
	position: absolute;
	top: 13px;
	left: 50px;
}

.logo-text {
	position: absolute;
	top: 40px;
	left: 130px;
	text-transform: uppercase;
	font-family: "montserrat", sans-serif;
	color: #00345a;
}

.menu {
	line-height: 100px;
	float: right;
}

.menu a {
	text-transform: uppercase;
	text-decoration: none;
	padding: 0 10px;
	transition: 0.4s;
	color: rgb(53, 68, 89);
	font-family: "montserrat", sans-serif;
	font-size: 15px;
	font-weight: 900;
	letter-spacing: 3px;
}

.show-menu-btn, .hide-menu-btn {
	transition: 0.4s;
	font-size: 30px;
	cursor: pointer;
	display: none;
}

.show-menu-btn {
	float: right;
}

.show-menu-btn i {
	line-height: 100px;
	color: rgb(53, 68, 89);
}

.menu a:hover, 
.show-menu-btn:hover, 
.hide-menu-btn:hover {
	color: rgb(84, 98, 117);
}

#chk {
	position: absolute;
	visibility: hidden;
	z-index: -1111;
}

/* +++++++++++++++++++++++++ content +++++++++++++++++++++++++ */
.content {
	height: 200px;
	margin: 20px 0px 20px 0px;
	padding: 200px 0px;
	border-radius: 50px;
	background-color: rgb(241, 242, 243);
}

.content span {
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.text1 {
	color: rgb(53, 68, 89);
	background-color: rgb(241, 242, 243);	
	font-size: 60px;
	font-weight: 700;
	letter-spacing: 8px;
	position: relative;
	margin-bottom: 20px;
	animation: text 2s 1;
}

.text2 {
	color: rgb(84, 98, 117);

	font-size: 25px;
}

/* +++++++++++++++++++++++++ contact +++++++++++++++++++++++++ */
.contact {
	border-radius: 15px 15px 0px 0px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #B9B6E5;
    background: -moz-linear-gradient(-45deg, #B9B6E5 0%, #2580B3 100%);
    background: -webkit-linear-gradient(-45deg, #B9B6E5 0%, #2580B3 100%);
    background: linear-gradient(135deg, #B9B6E5 0%, #2580B3 100%);
}

.contact .tmp {
	width: 280px;
	height: 60px;
	border: 3px solid transparent;
	border-radius: 40px;
	background-image: linear-gradient(#546275, #546275), radial-gradient(circle at top left, #546275, #354459);
	background-origin: border-box;
	background-clip: content-box, border-box;
	background-color: rgb(84, 98, 117);
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	transition: .3s linear;
}

.contact .tmp:hover {
	transform: scale(1.1);
}

.contact .tmp span {
	position: absolute;
	text-transform: uppercase;
	width: 100%;
	height: 100%;
	background-color: rgb(53, 68, 89);
	text-align: center;
	line-height: 60px;
	z-index: 999;
	transition: 0.6s linear;
	border-radius: 40px;
	font-family: "montserrat", sans-serif;
	font-size: 20px;
	letter-spacing: 1px;
	color: #ccc;
}

.contact .tmp:hover span {
	transform: translateX(-100%);
	transition-delay: .3s;
}

.contact .tmp a {
	flex: 1;
	font-size: 26px;
	color: #ccc;
	text-align: center;
	transform: translateX(-100%);
	opacity: 0;
	transition: 0.4s linear;
}

.contact .tmp:hover a {
	opacity: 1;
	transform: translateX(0);
}

.contact .tmp a:nth-of-type(1) {
	transition-delay: 1s
}

.contact .tmp a:nth-of-type(2) {
	transition-delay: 0.8s
}

.contact.tmp a:nth-of-type(3) {
	transition-delay: 0.6s
}

.contact .tmp a:nth-of-type(4) {
	transition-delay: 0.4s
}


/* +++++++++++++++++++++++++ animation +++++++++++++++++++++++++ */
 @keyframes text {
	0% {
		margin-bottom: -40px;
	}
	30% {
		letter-spacing: 25px;
		margin-bottom: -40px;
	}
	85% {
		letter-spacing: 8px;
		margin-bottom: -40px;
	}
}