$primary-color: #ffc87a;
$text-color: #1a2b5f;
$text-gray: #c6cad7;

@mixin flex($align: flex-start, $justify: flex-start, $wrap: nowrap) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-wrap: $wrap;
}

html {
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

* {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
}

//1440px, 1170px
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    z-index: 3;
    width: 100%;
    padding: 0 13rem;
    &__inner {
        @include flex(center, space-between);
    }
    &__menu {
        &-list {
            @include flex(center);
        }
        &-item {
            margin-left: 5rem;
            &:last-child {
                margin-right: 5rem;
            }
        }
        &-link {
            font-size: 1.6rem;
            font-weight: 400;
            color: $text-color;
            transition: color .25s linear;
            &:hover {
                color: $primary-color;
            }
        }
    }
}

.logo {
    width: 10rem;
}

.toggle {
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    width: 4rem;
    height: 4rem;
    // background-color: #;
    display: none;
    margin-right: 1rem;
    &.active {
        // background-color: #;
        &:before {
            content: '\f00d';
            color: $text-color;
        }
    }
    &:before {
        content: '\f0c9';
        font-family: fontAwesome;
        position: absolute;
        width: 100%;
        height: 100%;
        line-height: 4rem;
        text-align: center;
        font-size: 2rem;
        color: $primary-color;
    }
}

.category {
    position: relative;
    z-index: 1;
    &__img1, 
    &__img2, 
    &__img3, 
    &__img4, 
    &__img5, 
    &__img6 {
        position: relative;
        opacity: .7;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        z-index: 2;
    }
    &__img1 {
        background-image: url('../img/6.jpg');
        min-height: 100vh;
    }
    &__img2 {
        background-image: url('../img/2.jpg');
        min-height: 400px;
    }
    &__img3 {
        background-image: url('../img/3.jpg');
        min-height: 400px;
    }
    &__img4 {
        background-image: url('../img/4.jpg');
        min-height: 400px;
    }
    &__img5 {
        background-image: url('../img/5.jpg');
        min-height: 400px;
    }
    &__img6 {
        background-image: url('../img/1.jpg');
        min-height: 100vh;
    }
    &__content {
        text-align: center;
        &-info {
            padding: 4rem 0;
            color: $primary-color;
            font-weight: 600;
            font-size: 3rem;
        }
        &-desc {
            color: $text-color;
            font-weight: 300;
            font-size: 1.5rem;
            line-height: 2rem;
            padding-bottom: 4rem;
        }
    }
    &__title {
        position: absolute;
        top: 50%;
        font-size: 5rem;
        font-weight: 700;
        letter-spacing: 0.8rem;
        text-transform: uppercase;
        color: $text-color;
        width: 100%;
        text-align: center;
        p {
            display: inline-block;
            color: $primary-color;
        }
    }
}

.btn {
    position: relative;
    width: 100%;
    height: 10rem;
    margin-top: -10rem;
    z-index: 0;
}

::-webkit-scrollbar {
    width: 0;
}

@media screen and (max-width: 1023px) {
    .header {
        padding: 0;
    }
}

@media screen and (max-width: 767px) {
    .container {
        padding: 0;
    }
    .logo {
        // margin-left: -2rem;
        width: 8rem;
    }
    .toggle {
        display: initial;
        z-index: 9999;
    }
    .header {
        &__menu {
            display: none;
            &.active {
                position: absolute;
                top: 0;
                left: 0;
                display: initial;
                width: 100%;
                height: 100vh;
                background-color: gray;
                overflow: hidden;
                z-index: 8888;
            }
            &-list {
                flex-wrap: wrap;
            }
            &-item {
                width: 100%;
                margin: 0 5rem;
                text-align: center;
                padding: 4rem 0;
                border-bottom: 1px solid silver;
            }
        }
    }
}