body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: #222;
	font-family: monospace;
}

/* +++++++++++++++++++++++++ header +++++++++++++++++++++++++ */
.header {
	height: 100px;
	padding: 0 40px;
  border-radius: 5px 5px 5px 5px;
  background: #171717;
  box-sizing: border-box;
	box-shadow: 0 2px 10px #9161f5;
}

.logo-icon {
	position: absolute;
	top: 13px;
	left: 40px;
}

.logo-text {
	position: absolute;
	top: 8px;
	left: 110px;
	font-family: 'Candal', sans-serif;
	color: #ffffff;
}

.logo-text span {
	color: #9161f5;
}

.menu {
	line-height: 100px;
	float: right;
	margin: 0px;
	padding: 0px;
}

.menu a {
	text-transform: uppercase;
	text-decoration: none;
	padding: 0 10px;
	transition: 0.4s;
	color: #82878d;
	font-family: 'Comfortaa', cursive;
	font-size: 15px;
	font-weight: 900;
	letter-spacing: 3px;
}

.show-menu-btn, .hide-menu-btn {
	transition: 0.4s;
	font-size: 30px;
	cursor: pointer;
	display: none;
}

.show-menu-btn {
	float: right;
}

.show-menu-btn i {
	line-height: 100px;
	color: #9161f5;
}

.menu a:hover, 
.show-menu-btn:hover, 
.hide-menu-btn:hover {
	color: #8bbfcc;
}

#chk {
	position: absolute;
	visibility: hidden;
	z-index: -1111;
}

/* +++++++++++++++++++++++++ content +++++++++++++++++++++++++ */
.content-game {
 	text-align: center;
 	position: relative;
  color: #ccc;
  font-size: 2em;
  font-weight: 500;
  padding: 20px;
}

#point {
	text-align: center;
	font-size: 35px;
	color: #ce372b;
}

.how-to-play {
	position: fixed;
	right: 10px;
	top: 120px;
  background: #ccc;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  font-family: monospace;
}

#dialog-rounded {
  background: #ccc;
  font-family: monospace;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 2px 10px #9161f5;
}

.dialog-menu {
	padding: 0;
	text-align: center;
}

.dialog-menu button {
	width: 100px;
}

.rule {
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/* +++++++++++++++++++++++++ canvas +++++++++++++++++++++++++ */
#myCanvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 500px;
  height: 500px;
  position: relative;
  border: 1px solid grey;
}

#myCanvas .cell {
  position: absolute;
  margin: 10px;
  width: 80px;
  height: 80px;
  border: 1px dotted grey;
  font-size: 30px;
  line-height: 80px;
  text-align: center;
}

#myCanvas .cell.value-2 {
  color: #209cee;
}

#myCanvas .cell.value-1 {
  color: #f7d51d;
}

#myCanvas .cell.value-4 {
  color: #92cc41;
}

#myCanvas .cell.value-5 {
  color: #d3d3d3;
}

#myCanvas .cell.point {
  color: #ce372b;
}

#myCanvas .cell.main-point {
  border-color: #ce372b;
  font-size: 27px;
}

#myCanvas .cell:nth-child(25n + 1) {
  top: 0px;
  left: 0px;
}

#myCanvas .cell:nth-child(25n + 2) {
  top: 0px;
  left: 100px;
}

#myCanvas .cell:nth-child(25n + 3) {
  top: 0px;
  left: 200px;
}

#myCanvas .cell:nth-child(25n + 4) {
  top: 0px;
  left: 300px;
}

#myCanvas .cell:nth-child(25n + 5) {
  top: 0px;
  left: 400px;
}

#myCanvas .cell:nth-child(25n + 6) {
  top: 100px;
  left: 0px;
}

#myCanvas .cell:nth-child(25n + 7) {
  top: 100px;
  left: 100px;
}

#myCanvas .cell:nth-child(25n + 8) {
  top: 100px;
  left: 200px;
}

#myCanvas .cell:nth-child(25n + 9) {
  top: 100px;
  left: 300px;
}

#myCanvas .cell:nth-child(25n + 10) {
  top: 100px;
  left: 400px;
}

#myCanvas .cell:nth-child(25n + 11) {
  top: 200px;
  left: 0px;
}

#myCanvas .cell:nth-child(25n + 12) {
  top: 200px;
  left: 100px;
}

#myCanvas .cell:nth-child(25n + 13) {
  top: 200px;
  left: 200px;
}

#myCanvas .cell:nth-child(25n + 14) {
  top: 200px;
  left: 300px;
}

#myCanvas .cell:nth-child(25n + 15) {
  top: 200px;
  left: 400px;
}

#myCanvas .cell:nth-child(25n + 16) {
  top: 300px;
  left: 0px;
}

#myCanvas .cell:nth-child(25n + 17) {
  top: 300px;
  left: 100px;
}

#myCanvas .cell:nth-child(25n + 18) {
  top: 300px;
  left: 200px;
}

#myCanvas .cell:nth-child(25n + 19) {
  top: 300px;
  left: 300px;
}

#myCanvas .cell:nth-child(25n + 20) {
  top: 300px;
  left: 400px;
}

#myCanvas .cell:nth-child(25n + 21) {
  top: 400px;
  left: 0px;
}

#myCanvas .cell:nth-child(25n + 22) {
  top: 400px;
  left: 100px;
}

#myCanvas .cell:nth-child(25n + 23) {
  top: 400px;
  left: 200px;
}

#myCanvas .cell:nth-child(25n + 24) {
  top: 400px;
  left: 300px;
}

#myCanvas .cell:nth-child(25n + 25) {
  top: 400px;
  left: 400px;
}

#warning-full button {
  position: fixed;
  right: 10px;
  top: 160px;
  background: #ccc;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  font-family: monospace;
}

#warning-full {
  visibility: hidden;
}

#warning-full.show {
  visibility: unset;
}