body {
	margin: 0;
	padding: 0;
	font-family: "montserrat", sans-serif;
	height: 100%;
	background: #eaeaeb;
}

/* +++++++++++++++++++++++++ box +++++++++++++++++++++++++ */
.animation-area {
	background: #eaeaeb;
	width: 100%;
	height: 100%;
}

.box-area {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.box-area li {
	position: relative;
	display: block;
	list-style: none;
	width: 50px;
	height: 20px;
	background: linear-gradient(to left, #63e2ff, #4f00bc);
	animation: animate 20s linear infinite;
	bottom: -150px;
	z-index: 10;
}

.box-area li:nth-child(1){
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
 }

.box-area li:nth-child(2){
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}

.box-area li:nth-child(3){
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}

.box-area li:nth-child(4){
	left: 70%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}

.box-area li:nth-child(5){
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
}

.box-area li:nth-child(6){
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}

/* +++++++++++++++++++++++++ container +++++++++++++++++++++++++ */
.container {
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: #343434;
}

.container h2 {
	color: rgb(53, 68, 89);
}

.container p {
	color: rgb(84, 98, 117);
	font-weight: bolder;
}

.container h1 {
	font-size: 160px;
	margin: 0;
	font-weight: 900;
	letter-spacing: 20px;
	background: linear-gradient(125deg, #63e2ff, #4f00bc) center no-repeat;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

.container a {
	text-decoration: none;
	background-color: rgb(84, 98, 117);
	color: #fff;
	padding: 12px 24px;
	display: inline-block;
	border-radius: 25px;
	font-size: 14px;
	text-transform: uppercase;
	transform: 0.4s;
}

.container a:hover {
	background-color: rgb(53, 68, 89);
}

/* +++++++++++++++++++++++++ animation +++++++++++++++++++++++++ */
@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}

	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}