$background: #fff0f0;
$text-color: #ff6e6e;

@mixin flex($align: flex-start, $justify: flex-start, $wrap: nowrap){
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-wrap: $wrap;
}

html {
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

* {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: $background;
    overflow: hidden;
}

.wrapper {
    max-width: 1440px;
    height: 100vh;
    margin: 0 auto;
    color: $text-color;
}

.container {
    position: relative;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.message {
    font-size: 3rem;
    font-weight: 400;
    padding-bottom: 2rem;
}

.desc {
    @include flex(center, center);
    p {
        display: inline-block;
        &:first-child {
            font-size: 4rem;
            font-weight: 700;
            padding-right: 1rem;
            margin-right: 1rem;
            border-right: 3px solid $text-color;
        }
        &:last-child {
            font-size: 3rem;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}

.btn {
    a {
        display: inline-block;
        height: 3rem;
        width: 3rem;
        margin-top: 1rem;
        text-align: center;
        line-height: 3rem;
        font-size: 1.5rem;
        color: var(--text-color);
        border: 1.5px solid currentColor;
        border-radius: 50%;
        background-color: transparent;
        transition: color .25s linear, border .25s linear;
        &:hover,
        &:hover ~ .message,
        &:hover ~ .desc {
            opacity: 0.7;
        }
    }
}