:root {
  --background: #f7f9fb;
  --header: #fff;
  --primary: #ffc87a;
  --text-color: #1a2b5f;
}

[data-theme="dark"] {
  --background: #1C2340;
  --header: #151935;
  --primary: #ffc87a;
  --text-color: #fff;
}

@font-face {
  font-family: sign;
  src: url("../font/TheScientist.ttf");
}

html {
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

* {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background);
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--header);
  z-index: 3;
  width: 100%;
  padding: 0 13rem;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.header__menu--unres-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.header__menu--unres-item {
  margin-left: 5rem;
}

.header__menu--unres-item:last-child {
  margin-right: 5rem;
}

.header__menu--unres-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--text-color);
  -webkit-transition: color .25s linear;
  transition: color .25s linear;
}

.header__menu--unres-link:hover {
  color: #ffc87a;
}

.header__menu--res {
  display: none;
}

.header__menu--res-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__menu--res-item {
  width: 100%;
  margin: 0 10rem;
  text-align: center;
  padding: 4rem 0;
  border-bottom: 1px solid silver;
}

.header__menu--res-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--text-color);
  -webkit-transition: color .25s linear;
  transition: color .25s linear;
}

.header__menu--res-link:hover {
  color: #ffc87a;
}

.logo {
  width: 10rem;
}

.toggle {
  cursor: pointer;
  position: fixed;
  top: 42px;
  right: 0;
  width: 4rem;
  height: 4rem;
  display: none;
  margin-right: 1rem;
}

.toggle.active:before {
  content: '\f00d';
  color: var(--text-color);
}

.toggle:before {
  content: '\f0c9';
  font-family: fontAwesome;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 4rem;
  text-align: center;
  font-size: 2rem;
  color: #ffc87a;
}

.category {
  position: relative;
  z-index: 1;
}

.category__img1, .category__img2, .category__img3, .category__img4, .category__img5, .category__img6 {
  position: relative;
  opacity: .7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}

.category__img1 {
  background-image: url("../img/6.jpg");
  background-attachment: fixed;
  height: 100vh;
}

.category__img2 {
  background-image: url("../img/albums.jpg");
  height: 400px;
}

.category__img3 {
  background-image: url("../img/blog.jpg");
  height: 400px;
}

.category__img4 {
  background-image: url("../img/music.jpg");
  height: 400px;
}

.category__img5 {
  background-image: url("../img/game.gif");
  height: 400px;
}

.category__img6 {
  background-image: url("../img/1.jpg");
  background-attachment: fixed;
  height: 100vh;
}

.category__link {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  text-align: center;
  line-height: 3.5rem;
  font-size: 2rem;
  color: var(--text-color);
  border: 2px solid currentColor;
  border-radius: 50%;
  background-color: transparent;
  -webkit-transition: color .25s linear, border .25s linear;
  transition: color .25s linear, border .25s linear;
}

.category__link:hover,
.category__link:hover ~ .category__click {
  color: #ffc87a;
}

.category__click {
  padding-top: 0.5rem;
  color: var(--text-color);
  font-weight: 300;
  font-size: 1.2rem;
  -webkit-transition: color .25s linear;
  transition: color .25s linear;
}

.category__content {
  text-align: center;
}

.category__content-info {
  padding-top: 4rem;
  padding-bottom: 2rem;
  color: #ffc87a;
  font-weight: 600;
  font-size: 3rem;
}

.category__content-desc {
  color: var(--text-color);
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-bottom: 4rem;
  padding-top: 2rem;
}

.category__title {
  position: absolute;
  top: 50%;
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 0.8rem;
  text-transform: uppercase;
  color: #1a2b5f;
  width: 100%;
  text-align: center;
}

.category__title p {
  display: inline-block;
  color: #ffc87a;
}

.category__social {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
}

.category__social a {
  text-align: center;
  color: #1a2b5f;
  font-size: 4rem;
  margin: 1rem 1.5rem;
  display: inline-block;
}

.category__social h2 {
  font-size: 4.5rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
  color: #1a2b5f;
}

.category__social p {
  color: #1a2b5f;
  font-size: 2rem;
  font-weight: 600;
}

.category__sign {
  position: absolute;
  bottom: 20%;
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 0.8rem;
  font-family: sign;
  color: #1a2b5f;
  width: 100%;
  text-align: center;
}

.category__footer {
  position: absolute;
  bottom: 5%;
  color: #1a2b5f;
  width: 100%;
  text-align: center;
  font-weight: 300;
  font-size: 1.2rem;
}

.btn {
  position: relative;
  width: 100%;
  height: 10rem;
  margin-top: -10rem;
  z-index: 0;
}

.theme-switch-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 10px;
  right: 18px;
  z-index: 1000;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #999;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  background-color: white;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  -webkit-transition: .4s;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #1C2340;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

::-webkit-scrollbar {
  width: 0;
}

@media screen and (max-width: 1023px) {
  .header {
    padding: 0;
  }
  .header__menu--unres-item:last-child {
    margin-right: 10rem;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding: 0;
  }
  .logo {
    width: 8rem;
  }
  .toggle {
    display: initial;
    z-index: 9999;
  }
  .header__menu--unres {
    display: none;
  }
  .header__menu--res.active {
    position: absolute;
    top: 0;
    left: 0;
    display: initial;
    width: 100%;
    height: 100vh;
    background-color: gray;
    overflow: hidden;
    z-index: 8888;
  }
  .category__social h2 {
    font-size: 3rem;
  }
  .category__social a {
    font-size: 3rem;
  }
  .category__social p {
    font-size: 1.5rem;
  }
  .category__sign {
    font-size: 4rem;
    letter-spacing: 0.5rem;
  }
}

@media screen and (max-width: 479px) {
  .category__sign {
    font-size: 3.5rem;
    letter-spacing: 0.3rem;
  }
}
/*# sourceMappingURL=style.css.map */