@media (max-width: 992px) {
	main {
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 20px;
	}
}

@media (max-width: 767px) {
	main {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 15px;
	}
	header {
		width: 95%;
	}
	.imgContent {
		bottom: 0;
	}
}

@media (max-width: 500px) {
	main {
		grid-template-columns: repeat(1, 1fr);
	}
}