* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #222;
	min-height: 100vh;
}

/* +++++++++++++++++++++++++ header +++++++++++++++++++++++++ */
.header {
	height: 100px;
	padding: 0 20px;
    border-radius: 5px 5px 5px 5px;
    background: #222;
    box-sizing: border-box;
	box-shadow: 0 2px 10px #ff0057;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.logo-icon {
	position: absolute;
	top: 13px;
	left: 50px;
}

.logo-text {
	position: absolute;
	top: 40px;
	left: 130px;
	text-transform: uppercase;
	font-family: "montserrat", sans-serif;
	color: #ff0057;
}

.menu {
	line-height: 100px;
	float: right;
}

.menu a {
	text-transform: uppercase;
	text-decoration: none;
	padding: 0 10px;
	transition: 0.4s;
	color: #ff0057;
	font-family: "montserrat", sans-serif;
	font-size: 15px;
	font-weight: 900;
	letter-spacing: 3px;
}

.show-menu-btn, .hide-menu-btn {
	transition: 0.4s;
	font-size: 30px;
	cursor: pointer;
	display: none;
}

.show-menu-btn {
	float: right;
}

.show-menu-btn i {
	line-height: 100px;
	color: #ff0057;
}

.menu a:hover, 
.show-menu-btn:hover, 
.hide-menu-btn:hover {
	color: rgb(84, 98, 117);
}

#chk {
	position: absolute;
	visibility: hidden;
	z-index: -1111;
}

/* +++++++++++++++++++++++++ menu-games +++++++++++++++++++++++++ */
.container {
	position: relative;
	width: 1000px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 20px;

}

.container .card {
	position: relative;
	height: 250px;
	background: #fff;
	display: flex;
	width: 45%;
	margin: 30px 0;
	box-sizing: border-box;
	box-shadow: 0 2px 10px #ff0057;
}

.container .card .imgBx {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #333;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: 0.5s ease-in-out;
}

.container .card:hover .imgBx {
	width: 150px;
	height: 150px;
	left: -75px;
	top: calc(50% - 75px);
	transition: 0.5 ease-in-out;
	background: #ff0057;
}

.container .card .imgBx:before {
	content: attr(data-text);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 5em;
	color: rgba(255, 255, 255, .05);
	font-weight: 700;
}

.container .card .imgBx img {
	max-width: 150px;
	transition: 0.5 ease-in-out;
}

.container .card:hover .imgBx img {
	max-width: 75px;
}

.container .card .content {
	position: absolute;
	right: 0;
	width: calc(100% - 75px);
	height: 100%;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container .card .content h3 {
	margin-bottom: 5px;
	font-size: 24px;
}

.container .card .content a {
	display: inline-block;
	margin-top: 10px;
	padding: 5px 10px;
	background: #333;
	text-decoration: none;
	color: #fff;
}