* {
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	overflow-x: hidden;
	background-color: #fdf3f0;
	font-family: sans-serif;
}

/* +++++++++++++++++++++++++ header +++++++++++++++++++++++++ */
.header {
	height: 100px;
	padding: 0 40px;
	background-color: #fdf8f6;
	box-sizing: border-box;
	box-shadow: 0 2px 10px #ccc;
}

.header .logo-icon {
	position: absolute;
	top: 13px;
	left: 40px;
}

.header .logo-text {
	position: absolute;
	left: 110px;
	line-height: 100px;
	font-family: 'Candal', sans-serif;
	color: #df5a49;
}

.header .logo-text span {
	color: #000032;
}

.menu {
	line-height: 100px;
	float: right;
}

.menu a {
	text-transform: uppercase;
	text-decoration: none;
	padding: 0 10px;
	transition: 0.4s;
	color: #000032;
	font-family: 'Comfortaa', cursive;
	font-size: 15px;
	font-weight: 900;
	letter-spacing: 3px;
}

.show-menu-btn, .hide-menu-btn {
	transition: 0.4s;
	font-size: 30px;
	cursor: pointer;
	display: none;
}

.show-menu-btn {
	float: right;
}

.show-menu-btn i {
	line-height: 100px;
	color: #000032;
}

.menu a:hover, 
.show-menu-btn:hover, 
.hide-menu-btn:hover {
	color: #ccc;
}

#chk {
	position: absolute;
	visibility: hidden;
	z-index: -1111;
}

/* +++++++++++++++++++++++++ content +++++++++++++++++++++++++ */
.content {
	width: 90%;
	margin: 30px auto;
}

.content a {
	text-decoration: none;
}

.content .main-content {
	width: 70%;
	float: left;
}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}

.content .main-content .recent-post-title {
	margin: 20px;
	font-family: 'Candal', sans-serif;
	color: #000032;
}

.content .main-content .post {
	width: 95%;
	height: 270px;
	margin: 20px auto;
	border-radius: 5px;
	color: #000032;
	background-color: #fdf8f6;
	box-sizing: border-box;
	box-shadow: 0 2px 10px #ccc;
}

.content .main-content .post .post-image {
	width: 40%;
	height: 100%;
	float: left;
}

.content .main-content .post .post-preview {
	width: 55%;
	padding: 10px;
	float: right;
}

.content .main-content .post .post-preview h1 a {
	font-family: 'Candal', sans-serif;
	color: #000032;
}

.btn {
	padding: 5px;
	background-color: #006669;
	color: white;
	border: 1px solid transparent;
	border-radius: 5px;
	font-family: 'Comfortaa', cursive;
}

.btn:hover {
	color: white !important;
	background: #005255;
}

/* +++++++++++++++++++++++++ sidebar +++++++++++++++++++++++++ */
.content .sidebar {
	width: 29%;
	float: right;
}

.content .sidebar .section {
	background-color: #fdf8f6;
	box-sizing: border-box;
	box-shadow: 0 2px 10px #ccc;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
}

.content .sidebar .section.search {
	margin-top: 10px;
}

.text-input {
	font-family: 'Lora', serif;
	color: #444;
	background-color: #fdf3f0;
	border-radius: 5px;
	border: 1px solid #e0e0e0;
	padding: 5px 20px;
	width: 80%;
	outline: none;
	line-height: 1.5rem;
	font-size: 1.2rem;
}

.content .sidebar .section.topics ul {
	list-style: none;
	border-top: 1px solid #e0e0e0;
}

.content .sidebar .section.topics ul li a {
	border-bottom: 1px solid #e0e0e0;
	display: block;
	padding: 15px 0px 15px 0px;
	transition: all 0.3s;
}

.content .sidebar .section.topics ul li a:hover {
	padding-left: 10px;
	transition: all 0.3s;
}

.content .sidebar .section .section-title {
	margin: 10px 0px 10px 0px;
}

/* +++++++++++++++++++++++++ footer +++++++++++++++++++++++++ */
.footer {
	background-color: #303036;
	height: 220px;
	color: #e0e0e0;
}

.footer .footer-content {
	height: 200px;
	display: flex;
}

.footer .footer-bottom {
	background-color: #343a40;
	color: #e0e0e0;
	height: 20px;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
}

.footer .logo-text {
	line-height: 70px;
	font-family: 'Candal', sans-serif;
	color: #df5a49;
}

.footer .logo-text span {
	color: #000032;
}

.footer .footer-content .footer-section {
	flex: 1;
	padding: 15px;
	
}

.footer .footer-content .contact-form .contact-input {
	background-color: #272727;
	color: white;
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: 'Lora', serif;
}

.footer .footer-content .contact-form .contact-input:focus {
	background: #1a1a1a;
}

.footer .footer-content .contact-form .contact-btn {
	float: right;
}

.footer .footer-content .footer-section p {
	color: #ccc;
}

.footer .footer-content .footer-section .socials  a {
	color: #ccc;
	padding: 10px;
	margin: 5px;
	border: 1px solid #e0e0e0;
	border-radius: 12px;
}

.footer .footer-content .footer-section ul {
	list-style-type: none;
	border-top: 1px solid #e0e0e0;
}

.footer .footer-content .footer-section ul li a {
	border-bottom: 1px solid #e0e0e0;
	display: block;
	padding: 15px 0px 15px 0px;
	transition: all 0.3s;
	text-decoration: none;
	color: #ccc;
}

.footer .footer-content .footer-section ul li a:hover {
	padding-left: 10px;
	transition: all 0.3s;
}