$primary-color: #ffc87a;
$text-color: #1a2b5f;
$text-gray: #b1b2b2;

:root {
    --background: #edf4fa;
    --container: #fff;
    --primary: #ffc87a;
    --text-color: #1a2b5f;
    --contact: #1a2b5f;
    --social: #fff;
    --header: #f1f2f3;
}

[data-theme="dark"] {
    --background: #151935;
    --container: #1C2340;
    --primary: #ffc87a;
    --text-color: #fff;
    --contact: #ffc87a;
    --social: #f7f8f9;
    --header: #151935;
}

@mixin flex($align: flex-start, $justify: flex-start, $wrap: nowrap) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-wrap: $wrap;
}

html {
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

* {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background);
}

.wrapper {
    max-width: 1440px;
    margin: 5rem auto;
}

.container {
    max-width: 1210px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: var(--container);
    margin: 0 auto;
    border-radius: 2rem;
    overflow: hidden;
}

.content {
    padding: 2rem;
    &__header {
        @include flex(center);
        &-menu {
            &--list {
                @include flex(center);
            }
            &--item {
                margin-left: 3rem;
                &:first-child {
                    margin-left: 0;
                }
            }
            &--link {
                display: inline-block;
                color: var(--text-color);
                font-size: 1.4rem;
                font-weight: 400;
                transition: color .25s linear;
                &:hover {
                    color: $primary-color;
                }
            }
        }
    }
    &__main {
        padding: 0 2rem;
        margin-top: 5rem;
        &--title {
            text-align: center;
            text-transform: uppercase;
            h3 {
                font-size: 2rem;
                font-weight: 400;
                color: $primary-color;
                margin-bottom: 1rem;
            }
            p {
                font-size: 3.5rem;
                font-weight: 600;
                color: var(--text-color);
            }
        }
        &--category {
            border-left: 2px solid $text-gray;
            margin-left: 10rem;
            margin-top: 3rem;
            @include flex(flex-start, flex-start, wrap);
        }
        &--feature {
            width: 100%;
            margin: 3rem 0;
            padding-right: 20rem;
            @include flex(center, space-between);
            &-title {
                font-size: 2rem;
                font-weight: 500;
                color: $primary-color;
                text-align: center;
                padding: 1.5rem 0;
                background-color: var(--container);
            }
            &-info {
                width: 50%;
            }
            &-item {
                background-color: #f7f8f9;
                border-radius: 2rem;
                padding: 2rem;
                margin: 2rem 0;
                span {
                    font-size: 1.5rem;
                    font-weight: 500;
                    color: $text-color;
                }
                p {
                    margin-top: 1rem;
                    font-size: 1.3rem;
                    font-weight: 300;
                    color: $text-color;
                    padding-left: 1.5rem;
                }
                h6 {
                    margin-top: 0.7rem;
                    font-size: 1.2rem;
                    font-weight: 400;
                    color: $text-gray;
                    padding-left: 1.5rem;
                }
            }
        }
    }
}

.logo {
    margin-right: 10rem;
    @include flex(center);
    img {
        width: 5rem;
    }
    p {
        font-size: 3rem;
        color: var(--text-color);
        font-weight: 600;
    }
    span {
        display: inline-block;
        color: $primary-color;
    }
}

.contact {
    &__background {
        overflow: hidden;
        height: 20rem;
        background-image: url('../img/1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: .7;
        z-index: 1;
        position: relative;
        box-shadow: 0px -17px 20px -6px #fff inset;
        &:after {
            content: "";
            background-image: linear-gradient(-90deg, #fff, white);
            height: 3rem;
            width: 100%;
            position: absolute;
            bottom: 0;
            opacity: 0.5;
            box-shadow: 0px -14px 30px 20px #fff;
        }
    }
    &__header {
        padding: 0 2rem;
        margin-top: -5rem;
        text-align: center;
        z-index: 2;
        position: relative;
        img {
            width: 10rem;
            border-radius: 50%;
            margin: 0 auto;
            border: 3px solid #fff;
        }
        h3 {
            margin-top: 1rem;
            font-size: 2rem;
            font-weight: 700;
            color: var(--contact);
        }
        p {
            font-size: 1.4rem;
            font-weight: 400;
            color: $text-gray;
        }
    }
    &__footer {
        margin-top: 7rem;
        padding: 0 2rem;
        &--language {
            h3 {
                font-size: 1.5rem;
                font-weight: 600;
                color: var(--contact);
                margin-bottom: 0.5rem;
            }
            i {
                margin-right: 1rem;
            }
            p {
                font-size: 1.3rem;
                font-weight: 400;
                color: $text-gray;
                padding-left: 2rem;
                margin-bottom: 0.3rem;
            }
        }
        &--location {
            margin-top: 2rem;
            h3 {
                font-size: 1.5rem;
                font-weight: 600;
                color: var(--contact);
                margin-bottom: 0.5rem;
            }
            i {
                margin-right: 1rem;
            }
            p {
                font-size: 1.3rem;
                font-weight: 400;
                color: $text-gray;
                padding-left: 2rem;
            }
        }
        &--social {
            text-align: center;
            background-color: var(--social);
            width: fit-content;
            padding: 1rem;
            margin: 15rem auto 5rem auto;
            border-radius: 4rem;
            a {
                display: inline-block;
                margin-left: 1rem;
                &:first-child {
                    margin-left: 0;
                }
            }
            img {
                width: 2.5rem;
                &:hover {
                    opacity: .7;
                }
            }
        }
    }
}

.job {
    width: fit-content;
    background-color: #f7f8f9;
    margin: 3rem auto;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 4rem;
    color: $text-color;
    font-weight: 400;
    transition: color .25s linear;
    &:hover {
        color: $primary-color;
    }
}

.present {
    font-size: 1.6rem;
    font-weight: 600;
    padding-bottom: 0.2rem;
    border-bottom: 2px solid $primary-color;
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
    position: fixed;
    top: 10px;
    right: 18px;
    z-index: 1000;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display:none;
}

.slider {
    background-color: #999;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: white;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked + .slider {
    background-color: #1C2340;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.m_l-1 {
    margin-left: -3rem;
}

.m_l-2 {
    margin-left: -7rem;
}

/* 1440 1366 1280 1024 768 480 320 */
@media screen and (max-width: 1439px) {
    .wrapper {
        margin: 0;
    }
    .container {
        border-radius: 0;
        grid-template-columns: 1fr;
    }
    .contact {
        margin-top: 5rem;
        &__footer {
            margin-top: 5rem;
            &--language {
                width: fit-content;
                margin: 0 auto;
                text-align: center;
                p {
                    padding: 0;
                }
            }
            &--location {
                width: fit-content;
                margin: 3rem auto 0 auto;
                text-align: center;
                p {
                    padding: 0;
                }
            }
            &--social {
                margin: 5rem auto;
            }
        }
    }
    input:checked + .slider {
        background-color: #151935;
    }
}

@media screen and (max-width: 1023px) {
    .content {
        &__main {
            &--category {
                border: 0;
                margin-left: 0;
                padding: 0 15rem;
            }
            &--feature {
                padding-right: 0;
                flex-wrap: wrap;
                justify-content: center;
                &-title {
                    width: fit-content;
                    border-top: 2px solid $text-gray;
                    padding: 0 10rem;
                    h2 {
                        margin-top: -1rem;
                        background-color: var(--container);
                        padding: 0 2rem;
                    }
                }
                &-info {
                    width: 100%;
                    text-align: center;
                }
                &-item {
                    p {
                        padding-left: 0;
                    }
                    h6 {
                        padding-left: 0;
                    }
                }
            }
        }
    }
    .m_l-1 {
        margin-left: 0;
    }
    .m_l-2 {
        margin-left: 0;
    }
}

@media screen and (max-width: 767px) {
    .content {
        padding: 0;
        &__header {
            position: fixed;
            background-color: var(--header);
            width: 100%;
            top: 0;
            flex-wrap: wrap;
            z-index: 500;
            &-menu {
                width: 100%;
                margin: 1.5rem 1rem;
                &--list {
                    justify-content: space-between;
                }
                &--item {
                    margin: 0;
                }
            }
        }
        &__main {
            padding: 8rem 0 0 0;
            &--category {
                padding: 0;
            }
            &--feature {
                &-title {
                    width: 100%;
                    h2 {
                        padding: 0 1rem;
                    }
                }
                &-info {
                    margin: 0 4rem;
                }
            }
        }
    }
    input:checked + .slider {
        background-color: #1C2340;
    }
}

@media screen and (max-width: 374px) {
    .content {
        &__main {
            &--feature {
                &-title {
                    h2 {
                        padding: 0;
                    }
                }
                &-info {
                    margin: 0 3rem;
                }
            }
        }
    }
}