.container {
    position: sticky;
    top: 10rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 37rem;
    grid-gap: 30px;
}


/* +++++++++++++++++++++++++ LEFT +++++++++++++++++++++++++ */

.left {
    background-color: rgb(250, 250, 251);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    position: relative;
}

.left .avatar {
    background-size: cover;
    width: 40%;
    border-radius: 50%;
    position: absolute;
    top: 2rem;
}

.left h2 {
    position: absolute;
    top: 11rem;
    color: rgb(53, 68, 89);
}

.left h2 span {
    font-weight: 100;
}

.left p {
    position: absolute;
    top: 13.8rem;
    background-color: rgb(236, 236, 244);
    padding: 10px 16px;
    border-radius: 20px;
    color: rgb(76, 90, 109);
    text-transform: capitalize;
}


/* +++++++++++++++++++++++++ SOCIAL LINKS +++++++++++++++++++++++++ */

.social-links {
    position: absolute;
    top: 17.5rem;
}

.social-links a {
    padding: 0 8px;
}

.social-links img {
    width: 26px;
}


/* +++++++++++++++++++++++++ CONTACT +++++++++++++++++++++++++ */

.contact {
    text-align: justify;
    position: absolute;
    top: 22.8rem;
    width: 100%;
    background-color: rgb(241, 242, 243);
}

.contact .birth-container {
    margin: 10px 22%;
    padding: 5px 0;
}

.contact .birth-container .calendar {
    width: 18px;
}

.contact .birth-container span {
    bottom: 0.3rem;
    display: inline-block;
    position: relative;
    color: rgb(84, 98, 117);
    font-size: smaller;
    left: 6px;
}


/* +++++++++++++++++++++++++ LOCATION +++++++++++++++++++++++++ */

.location {
    width: 18px;
}

.location-container {
    margin: 10px 22%;
}

.location-container span {
    bottom: 0.4rem;
    display: inline-block;
    position: relative;
    color: rgb(84, 98, 117);
    font-size: smaller;
    left: 6px;
}


/* +++++++++++++++++++++++++ EMAIL +++++++++++++++++++++++++ */

.git {
    width: 18px;
}

.git-container {
    margin: 10px 22%;
}

.git-container span {
    bottom: 0.2rem;
    display: inline-block;
    position: relative;
    color: rgb(84, 98, 117);
}

.git-container span a {
    text-decoration: none;
    color: rgb(84, 98, 117);
    font-size: small;
    position: relative;
    bottom: 0.2rem;
    text-transform: capitalize;
    left: 6px;
}


/* +++++++++++++++++++++++++ RESUME BUTTON +++++++++++++++++++++++++ */

.email-container {
    margin: 10px 22%;
    position: absolute;
    top: 9rem;
}

.coa {
    color: rgb(215, 232, 252);
    text-align: center;
    padding: 10px 18px;
    background: #256af3;
    background: -moz-linear-gradient(top, #256af3 0%, #3488f4 100%);
    background: -webkit-linear-gradient(top, #256af3 0%, #3488f4 100%);
    background: linear-gradient(to bottom, #256af3 0%, #3488f4 100%);
    border-radius: 24px;
    padding: 12px 48px;
    display: flex;
    margin-top: 2rem;
}


/* +++++++++++++++++++++++++ RIGHT +++++++++++++++++++++++++ */

.right {
    background-color: rgb(247, 249, 250);
    border-radius: 1rem;
}


/* +++++++++++++++++++++++++ TOP +++++++++++++++++++++++++ */

.top-section {
    background-color: rgb(255, 255, 255);
    border-radius: 1rem 1rem 0 0;
    padding: 15px 10px;
}

.top-section .top-container .info h2 {
    display: inline-block;
    margin: 20px;
    padding-bottom: 16px;
    color: rgb(53, 67, 88);
    font-size: xx-large;
}

.top-section .top-container {
    display: flex;
}

.top-section .top-container .info .divider {
    border-bottom: 4px solid rgb(4, 36, 242);
    width: 40px;
    margin: -20px 20px;
}

.top-section .top-container .info p {
    text-align: justify;
    line-height: 25px;
    margin: 40px 20px;
    left: 1.3rem;
    color: rgb(54, 69, 90);
    width: 100%;
}

.top-container .ham-menu {
    height: fit-content;
}

.top-container .ham-menu a img {
    width: 40px;
    padding: 8px;
    border-radius: 50%;
    background: #256af3;
    background: -moz-linear-gradient(top, #256af3 0%, #3488f4 100%);
    background: -webkit-linear-gradient(top, #256af3 0%, #3488f4 100%);
    background: linear-gradient(to bottom, #256af3 0%, #3488f4 100%);
    background-repeat: no-repeat;
}

.ham-menu {
    display: flex;
    flex-flow: row-reverse;
    position: relative;
}

.ham-menu ul {
    display: flex;
    position: absolute;
    background: #256af3;
    background: -moz-linear-gradient(top, #256af3 0%, #3488f4 100%);
    background: -webkit-linear-gradient(top, #256af3 0%, #3488f4 100%);
    background: linear-gradient(to bottom, #256af3 0%, #3488f4 100%);
    padding: 12px 3rem;
    border-radius: 46px 10px 10px 40px;
    right: 4rem;
    bottom: 4px;
}

.active {
    visibility: hidden;
}

.ham-menu ul li a {
    color: rgb(162, 192, 249);
    padding: 0 10px;
}

.ham-menu ul li a:hover {
    color: rgb(246, 246, 246);
}


/* +++++++++++++++++++++++++ LATEST NEWS +++++++++++++++++++++++++ */

.latest-news {
    margin: 40px 30px;
}

.latest-news h2 {
    color: rgb(53, 67, 88);
}


/* +++++++++++++++++++++++++ CARDS +++++++++++++++++++++++++ */

.right .card-section {
    margin: 40px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 20px;
}

.code-card, .web-card, .mobile-card, .music-card {
    display: -webkit-box;
    background-color: rgb(255, 2552, 255);
    padding: 38px 30px;
    flex-direction: row;
    width: 100%;
    max-width: 24.5rem;
    border-radius: 10px;
}

.code-card img, .web-card img, .mobile-card img, .music-card img {
    width: 40px;
}

.web-description {
    position: relative;
    top: 2px;
    left: 23px;
}

.web-description h4 {
    color: rgb(47, 60, 78);
    font-weight: 400;
}

.web-description p {
    color: rgb(110, 126, 145);
    font-size: small;
    position: relative;
    top: 0.4rem;
    line-height: 18px;
}