:root {
  --background: #edf4fa;
  --container: #fff;
  --primary: #ffc87a;
  --text-color: #1a2b5f;
  --contact: #1a2b5f;
  --social: #fff;
  --header: #f1f2f3;
}

[data-theme="dark"] {
  --background: #151935;
  --container: #1C2340;
  --primary: #ffc87a;
  --text-color: #fff;
  --contact: #ffc87a;
  --social: #f1f2f3;
  --header: #151935;
}

html {
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

* {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background);
}

.wrapper {
  max-width: 1440px;
  margin: 5rem auto;
}

.container {
  max-width: 1210px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 1fr;
      grid-template-columns: 4fr 1fr;
  background-color: var(--container);
  margin: 0 auto;
  border-radius: 2rem;
  overflow: hidden;
}

.content {
  padding: 2rem;
}

.content__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.content__header-menu--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.content__header-menu--item {
  margin-left: 3rem;
}

.content__header-menu--item:first-child {
  margin-left: 0;
}

.content__header-menu--link {
  display: inline-block;
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 400;
  -webkit-transition: color .25s linear;
  transition: color .25s linear;
}

.content__header-menu--link:hover {
  color: #ffc87a;
}

.content__main {
  padding: 0 2rem;
  margin-top: 5rem;
}

.content__main--title {
  text-align: center;
  text-transform: uppercase;
}

.content__main--title h3 {
  font-size: 2rem;
  font-weight: 400;
  color: #ffc87a;
  margin-bottom: 1rem;
}

.content__main--title p {
  font-size: 3.5rem;
  font-weight: 600;
  color: var(--text-color);
}

.content__main--feature {
  margin: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content__main-item {
  margin-bottom: 3rem;
  width: calc(50% - 3rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  color: var(--text-color);
}

.content__main-item--icon {
  width: 10rem;
  border: 2px solid var(--container);
  border-radius: 50%;
  margin-right: 2rem;
}

.content__main-item--desc h3 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.content__main-item--desc p {
  font-size: 1.4rem;
  font-weight: 300;
}

.content__main--skill {
  margin: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.content__main--skill-item {
  width: calc(50% - 2rem);
}

.content__main--skill-item h2 {
  font-size: 2.5rem;
  font-weight: 400;
  color: #ffc87a;
}

.content__main--skill-item-row {
  margin: 2rem 5rem 0 3rem;
  border-radius: 2rem;
  overflow: hidden;
  background-color: #b1b2b2;
}

.content__main--skill-item-row--inner {
  background-color: #ffc87a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 1rem 2rem;
  border-radius: 2rem;
}

.content__main--skill-item-row--inner p {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 300;
  color: #1a2b5f;
}

.content__main--skill-item-row--inner span {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 300;
  color: #1a2b5f;
}

.logo {
  margin-right: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.logo img {
  width: 5rem;
}

.logo p {
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 600;
}

.logo span {
  display: inline-block;
  color: #ffc87a;
}

.contact__background {
  overflow: hidden;
  height: 20rem;
  background-image: url("../img/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: .7;
  z-index: 1;
  position: relative;
  -webkit-box-shadow: 0px -17px 20px -6px #fff inset;
          box-shadow: 0px -17px 20px -6px #fff inset;
}

.contact__background:after {
  content: "";
  background-image: -webkit-gradient(linear, right top, left top, from(#fff), to(white));
  background-image: linear-gradient(-90deg, #fff, white);
  height: 3rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  opacity: 0.5;
  -webkit-box-shadow: 0px -14px 30px 20px #fff;
          box-shadow: 0px -14px 30px 20px #fff;
}

.contact__header {
  padding: 0 2rem;
  margin-top: -5rem;
  text-align: center;
  z-index: 2;
  position: relative;
}

.contact__header img {
  width: 10rem;
  border-radius: 50%;
  margin: 0 auto;
  border: 3px solid #fff;
}

.contact__header h3 {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: var(--contact);
}

.contact__header p {
  font-size: 1.4rem;
  font-weight: 400;
  color: #b1b2b2;
}

.contact__footer {
  margin-top: 7rem;
  padding: 0 2rem;
}

.contact__footer--language h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--contact);
  margin-bottom: 0.5rem;
}

.contact__footer--language i {
  margin-right: 1rem;
}

.contact__footer--language p {
  font-size: 1.3rem;
  font-weight: 400;
  color: #b1b2b2;
  padding-left: 2rem;
  margin-bottom: 0.3rem;
}

.contact__footer--location {
  margin-top: 2rem;
}

.contact__footer--location h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--contact);
  margin-bottom: 0.5rem;
}

.contact__footer--location i {
  margin-right: 1rem;
}

.contact__footer--location p {
  font-size: 1.3rem;
  font-weight: 400;
  color: #b1b2b2;
  padding-left: 2rem;
}

.contact__footer--social {
  text-align: center;
  background-color: var(--social);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  margin: 15rem auto 0 auto;
  border-radius: 4rem;
}

.contact__footer--social a {
  display: inline-block;
  margin-left: 1rem;
}

.contact__footer--social a:first-child {
  margin-left: 0;
}

.contact__footer--social img {
  width: 2.5rem;
}

.contact__footer--social img:hover {
  opacity: .7;
}

.job {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #f1f2f3;
  margin: 3rem auto;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 4rem;
  color: #1a2b5f;
  font-weight: 400;
  -webkit-transition: color .25s linear;
  transition: color .25s linear;
}

.job:hover {
  color: #ffc87a;
}

.hidden {
  display: none;
}

.per-50 {
  width: 50%;
}

.per-60 {
  width: 60%;
}

.per-65 {
  width: 65%;
}

.per-70 {
  width: 70%;
}

.per-80 {
  width: 80%;
}

.per-85 {
  width: 50%;
}

.present {
  font-size: 1.6rem;
  font-weight: 600;
  padding-bottom: 0.2rem;
  border-bottom: 2px solid #ffc87a;
}

.theme-switch-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 10px;
  right: 18px;
  z-index: 1000;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #999;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  background-color: white;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  -webkit-transition: .4s;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #1C2340;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* 1440 1366 1280 1024 768 480 320 */
@media screen and (max-width: 1439px) {
  .wrapper {
    margin: 0;
  }
  .container {
    border-radius: 0;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .contact__footer {
    margin-top: 5rem;
  }
  .contact__footer--language {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
  }
  .contact__footer--language p {
    padding: 0;
  }
  .contact__footer--location {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 3rem auto 0 auto;
    text-align: center;
  }
  .contact__footer--location p {
    padding: 0;
  }
  .contact__footer--social {
    margin: 5rem auto;
  }
  input:checked + .slider {
    background-color: #151935;
  }
}

@media screen and (max-width: 767px) {
  .content {
    padding: 0;
  }
  .content__header {
    position: fixed;
    background-color: var(--header);
    width: 100%;
    top: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    z-index: 500;
  }
  .content__header-menu {
    width: 100%;
    margin: 1.5rem 1rem;
  }
  .content__header-menu--list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .content__header-menu--item {
    margin: 0;
  }
  .content__main {
    padding: 8rem 0 0 0;
  }
  .content__main-item {
    width: 100%;
    padding: 0 1rem;
  }
  .content__main--skill {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .content__main--skill-item {
    width: 100%;
    margin-bottom: 3rem;
  }
  .content__main--skill-item h2 {
    text-align: center;
  }
  .content__main--skill-item-row {
    margin: 1rem 3rem;
  }
  input:checked + .slider {
    background-color: #1C2340;
  }
}
/*# sourceMappingURL=style_about.css.map */